<footer>
  <div class="footer">
    <div class="banner__titre__border__top"></div>
    <ul class="menu">
      <li><a href="">ОБО МНЕ </a></li>
      <li><a href="">МОИ ПРОДУКТЫ </a></li>
      <li><a href="">ГАЛЕРЕЯ </a></li>
      <li><a href="">КОНТАКТ </a></li>
      <li><a href="">Contact</a></li>
    </ul>
    <div class="footer__icone">
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-telegram"></i>
      <i class="fa-brands fa-whatsapp"></i>
    </div>
    <li class="privacy"><a href="">Privacy policy </a></li>
    <div class="banner__titre__border__bot"></div>
  </div>
  footer
</footer>
