{{ define "presentation" }} {{ block "banner" . }} {{ end }}
<div class="presentation">
  <div class="presentation__photo">
    <img src="" alt="" />
  </div>
  <div class="presentation__bio">
    {{/*
    <h2>ПРИВЕТ, Я ЕКАТЕРИНА, ВАШ ПРОВОДНИК В МИР ШАМПАНСКОГО И ШАМПАНИ</h2>
    */}} {{/*
    <p>
      Добрый день, дорогие любители и ценители шампанского! Меня зовут Катя, и
      вот уже 3 года как я живу в Шампани и организовываю авторские туры в этом
      регионе. В Шампани зародилась традиция французского жизнелюбия,
      неизменного эпикурейства и умения наслаждаться жизнью. Это один из
      ключевых регионов страны, в котором сочетаются живописные пейзажи и
      богатая история. Например, крупнейший город провинции – Реймс – известен
      тем, что здесь в средние века короновали французских монархов. В
      знаменитом кафедральном соборе Марк Шагал расписывал витражи. Но главное –
      только в Шампани производится настоящее шампанское! Шампанское всегда было
      для меня напитком-праздником, оно ассоциировалось с королями, буржуазией,
      звездами, красными ковровыми дорожками. Но переехав в этот регион, я
      узнала совершенно другую Шампань – настоящую, тихую, душевную. Это Шампань
      виноделов, которые создают удивительно сложные и деликатные вина, бережно
      используя уникальные характеристики терруара. В своих турах мне хочется
      показать этот контраст и познакомить гостей не только с великими, всемирно
      известными шампанскими домами, но и с небольшими семейными хозяйствами,
      предлагающими продукцию исключительного качества, зачастую не
      представленную в России. Я приглашаю вас познакомиться с моей роскошной и
      простой Шампанью!
    </p>
    */}}
  </div>
</div>
{{ end }}
