{{ define "tours" }}
<section class="banner">
  <div class="banner__titre">
    <div class="banner__titre__border__top"></div>
    <h2>Мои туры в Шампани</h2>
    <div class="banner__titre__border__bot"></div>
  </div>
</section>

<h2 class="my-5">Articles récents</h2>
<section id="articles" class="row g-5">
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }} {{
  range $paginator.Pages }} {{ .Render "summary" }} {{ end }}
  <div class="text-center my-5"></div>
</section>
{{ end }}
